{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main_content %}
<form method="post">
    {% if error %}
        <div class="#">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="sign-link">
            Vous êtes déjà connecté(e) avec l'e-mail : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}

    <div>
        <h1 class="#">Se connecter</h1>
        
        <div>
            <input type="email" value="{{ last_username }}" name="email" id="email" class="email" autocomplete="email" placeholder="E-mail" required autofocus>
        </div>
        
        <div>
            <input type="password" name="password" id="password" class="password" autocomplete="current-password" placeholder="Mot de passe" required>
        </div>
    
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
        <button class="#" type="submit">CONNEXION</button>
    </div>
    
</form>
{% endblock %}
