{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main_content %}
<div class="form-container">
    <h2>Se connecter</h2> 
        <div class="form-errors">
        {% if error %}
            <span class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
        {% endif %}
        {% if app.user %}
            <div class="form-errors">
                <span class="error-message">Vous êtes déjà connecté(e) avec l'e-mail {{ app.user.userIdentifier }} : <a href="{{ path('app_logout') }}" class="sign-link">Me déconnecter</a></span>
            </div>
        {% endif %} 
</div>
    <form method="post">              
            <div class="input-group">
                <input type="email" value="{{ last_username }}" name="email" id="email" class="email" autocomplete="email" placeholder="E-mail" required autofocus>
            </div>            
            <div class="input-group">
                <input type="password" name="password" id="password" class="password" autocomplete="current-password" placeholder="Mot de passe" required>
            </div>        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">        
            <div class="actions">
                <button type="submit">CONNEXION</button>
            </div>        
    </form>
</div>
{% endblock %}
