<header>
    <a href="{{ path('app_home') }}">
        <img id="logoSite" src="{{ asset('images/logoGuitaristExplore.png') }}" alt="Logo du site">
    </a>
    <div class="sign">
        {% if app.user %}
            <p>
                <a href="#" class="sign-link">MON COMPTE</a> / 
                <a href="{{ path('app_logout') }}"  class="sign-link {{ app.request.attributes.get('_route') == 'app_logout' ? 'active' : '' }}">DECONNEXION</a>
            </p>
        {% else %}
            <p>
                <a href="{{ path('app_login') }}" class="sign-link {{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">CONNEXION</a> / 
                <a href="{{ path('app_register') }}"  class="sign-link {{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}">INSCRIPTION</a>
            </p>
        {% endif %}
    </div>
</header>