<aside>
    <section id="search" class="alt">
        <form method="post" action="#">
        	<input type="text" name="query" id="query" placeholder="Recherche"/>
        </form>
    </section>

    <h3>Menu</h3>

        <nav class="menu">
            <ul>
                <li><a href="{{ path('app_home') }}" class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}">ACCUEIL</a></li>
                <li><a href="{{ path('app_article') }}" class="{{ app.request.attributes.get('_route') == 'app_article' ? 'active' : '' }}">ARTICLES</a></li>
                <li><a href="{{ path('app_guitarist') }}" class="{{ app.request.attributes.get('_route') == 'app_guitarist' ? 'active' : '' }}">GUITARISTES</a></li>
                <li><a href="{{ path('app_ranking') }}" class="{{ app.request.attributes.get('_route') == 'app_ranking' ? 'active' : '' }}">CLASSEMENT</a></li>
                <li><a href="#">COMMENT PARTICIPER ?</a></li>
            </ul>
        </nav>

    <article>
        <h3>Le Dernier Article</h3>
        {{ render(controller('App\\Controller\\ArticleController::latestArticle')) }}
    </article>
</aside>
   
