<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %} - GuitaristExplore
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
			{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('css/desktop.css') }}">
		<link rel="stylesheet" href="{{ asset('css/tablet.css') }}">
		<link rel="stylesheet" href="{{ asset('css/mobile.css') }}">
			{% block javascripts %}{% endblock %}
		<script src="{{ asset('js/scripts.js') }}" defer></script>
		<script src="{{ asset('js/fetchAPI.js') }}" defer></script>
	</head>
	<body>
		{% block body %}

		{% include "partials/sidebar_nav.html.twig" %}

		<div class="content-container">
			{% include "partials/header.html.twig" %}
	
			<main>
	            {% block main_content %}
	            {% endblock %}
	        </main>
			
			{% include "partials/footer.html.twig" %}
		</div>

		{% endblock %}
	</body>
</html>
